main.container-fluid
    h1 The WolfBook
    .row
        .col-xs-8(role='me')
        .col-xs-4
            .well
                button.btn.btn-primary(role='fetch') Find Friends
    .row(role='friends')