main.container-fluid
    h1
        | The WolfBook
        .pull-right
            button.btn.btn-primary.btn-block(role='find-friends') Find Friends
    .row
        div(role='me')
    .row(role='friends')