.col-xs-12.col-sm-6
    .well(role='person')
        h5(role='name')
        img(role='map')
        input(type='range', role='zoom', min='1', max='11', step='1')
        input(type='text', role='latitude')
        input(type='text', role='longitude')