.col-xs-12.col-sm-6
    .well(role='person')
        h5(role='title')
        img.img-rounded.img-thumbnail(role='map')
        input.form-control(role='mapZoom', min='1', max='11', step='1', type='range')
        input.form-control(role='latitude', type='text')
        input.form-control(role='longitude', type='text')