.col-xs-12.col-sm-6
    .well(role='person')
        h4(role='name')
        img.img-thumbnail.img-rounded(role='map')
        input.form-control(type='range', role='zoom', min='1', max='11', step='1')
        input.form-control(type='text', role='latitude')
        input.form-control(type='text', role='longitude')